<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciecursoandroid.abastecimentoeconomico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AbastecimentoEconomico">
        <activity android:name=".activities.CalculoResultadoVeiculoActivity"
            android:theme="@style/Theme.AbastecimentoEconomico.NoActionBar"></activity>
        <activity
            android:name=".activities.VeiculosActivity"
            android:label="@string/veiculos" />
        <activity
            android:name=".activities.AddEditVeiculoActivity"
            android:label="@string/adicionar_veiculo" />
        <activity android:name=".activities.AbastecimentosActivity" />
        <activity
            android:name=".activities.CalculoResultadoKmsLitroActivity"
            android:theme="@style/Theme.AbastecimentoEconomico.NoActionBar" />
        <activity
            android:name=".activities.CalculoResultadoBasicoActivity"
            android:theme="@style/Theme.AbastecimentoEconomico.NoActionBar" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>