<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.franciecode.abastecimentoeconomico"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AbastecimentoEconomico">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2036643128150326~3322603382" />

        <activity
            android:name="com.franciecode.abastecimentoeconomico.activities.HomeActivity"
            android:theme="@style/Theme.AbastecimentoEconomico.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.franciecode.abastecimentoeconomico.activities.ChartActivity"
            android:label="@string/grafico"
            android:theme="@style/Theme.AbastecimentoEconomico.NoActionBar" />
        <activity
            android:name="com.franciecode.abastecimentoeconomico.activities.CalculoResultadoVeiculoActivity"
            android:theme="@style/Theme.AbastecimentoEconomico.NoActionBar" />
        <activity
            android:name="com.franciecode.abastecimentoeconomico.activities.VeiculosActivity"
            android:label="@string/veiculos"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.franciecode.abastecimentoeconomico.activities.AddEditVeiculoActivity"
            android:label="@string/adicionar_veiculo" />
        <activity
            android:name="com.franciecode.abastecimentoeconomico.activities.AbastecimentosActivity"
            android:label="@string/abastecimentos"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.franciecode.abastecimentoeconomico.activities.CalculoResultadoKmsLitroActivity"
            android:theme="@style/Theme.AbastecimentoEconomico.NoActionBar" />
        <activity
            android:name="com.franciecode.abastecimentoeconomico.activities.CalculoResultadoBasicoActivity"
            android:theme="@style/Theme.AbastecimentoEconomico.NoActionBar" />
        <activity
            android:name="com.franciecode.abastecimentoeconomico.activities.MainActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>